/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
@font-face {
    font-family: 'Feijoa';
    src: url(../fonts/Feijoa/feijoa-display.tff),
         url(../fonts/Feijoa/feijoa-medium.tff),
         url(../fonts/Feijoa/feijoa-mediumitalic.tff);
}
@font-face {
    font-family: 'National';
    src: url(../fonts/National/National-Regular.otf),
         url(../fonts/National/National-RegularItalic.otf),
         url(../fonts/National/National-Semibold.otf),
         url(../fonts/National/National-SemiboldItalic.otf);
}
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.Wrapper {
    position: relative;
}
.Wrapper picture {
    display: block;
    height: auto;
    width: 100%;
}
.Wrapper picture img {
    height: auto;
    width: 130%;
}
.EmailForm {
    background-color: white;
    border-radius: 2px;
    /*bottom: 20%;*/
    left: 33%;
    padding: 20px;
    position: absolute;
    right: 33%;
    top: 20%;
}
.LogoWrapper {
    margin: 20px auto;
    width: 90%;
}
.LogoWrapper img {
    height: auto;
    width: 100%;
}
.TopRow, .BottomRow {
    font-family: 'Feijoa', serif;
    font-style: italic;
    margin: 0;
    text-align: center;
    color: #263449;
}
.MiddleRow {
    font-family: 'National', sans-serif;
    font-size: 30px;
    margin: 10px auto 0;
    text-align: center;
    text-transform: uppercase;
    color: #263449;
}
.BottomRow {
    font-style: normal;
}
.EmailForm {
    margin: 20px auto;
    /*width: 90%;*/
}
.EmailForm .caption {
    display: none;
    visibility: hidden;
}
.EmailForm input.text {
    width: 95%;
    height: 25px;
}
#column_14334 {
    margin-bottom: 20px;
}
#column_14336 .field_block .field span input {
    background-color: #263449;
    border: none;
    color: white;
    display: block;
    margin: 20px auto;
    padding: 10px 0;
    width: 80%;
}
#column_14336 .field_block .field span input:hover {
    background-color: #303d51;
}

.fieldoptiongender {
    font-family: 'National', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #263449;
}


.terms-div {
    position: relative;
    padding-left: 7%;
}
.radioField {
    display: inline;
    width: 15px;
    height: 15px;
}
.terms-label {
    position: absolute;
    display: inline;
    /*width: 480px;*/
    padding-left: 19px;
    font-family: 'National', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #263449;
    font-weight: bold;
}

.legalVerbal {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-family: 'National', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: #263449;
    font-weight: bold;
}

.email_field {
    /*padding-right: 20%;*/
    margin-right: 20%;
}


/*For the placeholder values*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'National', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 10px;
}
::-moz-placeholder { /* Firefox 19+ */
    font-family: 'National', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 10px;
}
:-ms-input-placeholder { /* IE 10+ */
    font-family: 'National', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 10px;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'National', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 10px;
}


.centered {
  float: none;
  margin: 100px auto;
}
.form-group {
  position: relative;
}
.form-group .placeholder {
  position: absolute;
  top: 7px;
  left: 8px;
  color: #B1B1B1;
  display: none;
}
.form-group label {
  font-wight: normal;
  color: #B1B1B1;
}
.form-group .star {
  color: red;
}
.EmailForm input.form-control {
    width: 95%;
    height: 25px;
}
.placeholder label {
    font-family: 'National', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-bottom: 3px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 631px) and (max-width: 970px) {
    /* Style adjustments for viewports that meet the condition */
    .Wrapper picture img {
        width: 200%;
    }
    .EmailForm {
        left: 25%;
        right: 25%;
    }
}
@media only screen and (max-width: 630px) {
    /* Style adjustments for viewports that meet the condition */
    .Wrapper picture img {
        width: 130%;
    }
    .EmailForm {
        left: 10%;
        right: 10%;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}